In [6]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "../Resources/purchase_data.csv"

In [7]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
# rename column
purchase_data = purchase_data.rename(columns={"SN":"User"})
purchase_data.head()

,Purchase ID,User,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [8]:
# Check to see if there are any rows with missing data
purchase_data.count()

##   DATA IS CLEAN   ##

Purchase ID    780
User           780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [9]:
#Total players
count = purchase_data["User"].unique()
print ("Total Number of Players are:", len(count))

Total Number of Players are: 576

In [10]:
#Purchasing Analysis
count1 = purchase_data["Item ID"].unique()
average = round(float(purchase_data["Price"].mean()),2)
count2 = purchase_data["Purchase ID"].unique()
revenue = float(purchase_data["Price"].sum())
analysis_df = pd.DataFrame({
    "Number of Unique Items": [len(count1)],
    "Average Price": [average],
    "Number of Purchases": [len(count2)],
    "Total Revenue": [revenue]
})
analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [11]:
## Purchasing Analysis (Gender)
user_gender_df = purchase_data[["Gender","User"]].drop_duplicates(subset = "User")

gender_count_df = pd.DataFrame(user_gender_df["Gender"].value_counts(0))
gender_perc_df = pd.DataFrame(user_gender_df["Gender"].value_counts(1))

gender_summary_df = gender_count_df.merge(gender_perc_df, left_index = True, right_index = True)
gender_summary_df.columns = ["Total Count", "Percentage of Players"]
gender_summary_df['Percentage of Players'] = gender_summary_df['Percentage of Players'].map("{:,.2%}".format)
gender_summary_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [12]:
# Purchasing Analysis (Gender)
price_gender_df = purchase_data.groupby("Gender")

purchase_count = round(price_gender_df["Purchase ID"].count(),0)
average_count = round(price_gender_df["Price"].mean(),2)
total_count = round(price_gender_df["Price"].sum(),2)
average_person = (total_count / gender_count_df["Gender"]).map("${:.2f}".format)

In [17]:
# creating DF results

purchase_count.name = "Purchase Count"
average_count.name = "Average Purchase Price"
total_count.name = "Total Purchase Value"
average_person.name = "Avg Total Purchase total Person"

results = pd.concat([purchase_count, average_count,
    total_count, average_person,],axis=1)

results["Average Purchase Price"]=results["Average Purchase Price"].map("${:.2f}".format)
results["Total Purchase Value"]=results["Total Purchase Value"].map("${:.2f}".format)
results

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase total Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [31]:
# Age Demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 120]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

user_list = purchase_data.loc[:,["User","Age"]]
user_list_clean = user_list.drop_duplicates()

In [32]:
#using cut
user_list_clean= pd.cut(user_list_clean["Age"],bins,labels = group_names)
user_value = user_list_clean.value_counts()
percent_age = (user_value/len(count))*100

In [33]:
results = pd.DataFrame({"Total Count": user_value,
                                "Percentage of Players": percent_age})
results = results.sort_index()
results["Percentage of Players"] = results["Percentage of Players"].map("{:,.2f}%".format)
results

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [18]:
# Purchasing Analysis (Age)
fenomeno = purchase_data.loc[:,["User","Age"]]

purchase_data= pd.cut(purchase_data["Age"],bins,labels = group_names)
purchase_data
##making colums
#Purachses by age
purchase_count = purchase_data.count()["Price"]
# Average spend by age
Average_price = purchase_data.mean()["Price"]
# Total Spend by age
revenue_by_age = purchase_data.sum()["Price"]
# average spend person
average_spend_per = revenue_by_age/age_value

Purchase_analysis = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": Average_price,
                                 "Total Purchase Value": revenue_by_age,
                                  "Average Total Purchase per Person": average_spend_per})
                                  
Purchase_analysis["Average Purchase Price"] = Purchase_analysis["Average Purchase Price"].map("${:,.2f}".format)
Purchase_analysis["Total Purchase Value"] = Purchase_analysis["Total Purchase Value"].map("${:,.2f}".format)
Purchase_analysis["Average Total Purchase per Person"] = Purchase_analysis["Average Total Purchase per Person"].map("${:,.2f}".format)
                                  
Purchase_analysis

KeyError: 'Age'