In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "../Resources/purchase_data.csv"

In [2]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Check to see if there are any rows with missing data
purchase_data.count()

##   DATA IS CLEAN   ##

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [4]:
# rename column
purchase_data = purchase_data.rename(columns={"SN":"User"})
purchase_data.head()

,Purchase ID,User,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#Total players
count = purchase_data["User"].unique()
print ("Total Number of Players are:", len(count))

Total Number of Players are: 576

In [6]:
#Purchasing Analysis
count1 = purchase_data["Item ID"].unique()
average = round(float(purchase_data["Price"].mean()),2)
count2 = purchase_data["Purchase ID"].unique()
revenue = float(purchase_data["Price"].sum())
analysis_df = pd.DataFrame({
    "Number of Unique Items": [len(count1)],
    "Average Price": [average],
    "Number of Purchases": [len(count2)],
    "Total Revenue": [revenue]
})
analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [7]:
## Purchasing Analysis (Gender)
user_gender_df = purchase_data[["Gender","User"]].drop_duplicates(subset = "User")

gender_count_df = pd.DataFrame(user_gender_df["Gender"].value_counts(0))
gender_perc_df = pd.DataFrame(user_gender_df["Gender"].value_counts(1))

gender_summary_df = gender_count_df.merge(gender_perc_df, left_index = True, right_index = True)
gender_summary_df.columns = ["Total Count", "Percentage of Players"]
gender_summary_df['Percentage of Players'] = gender_summary_df['Percentage of Players'].map("{:,.2%}".format)
gender_summary_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [8]:
# Purchasing Analysis (Gender)
price_gender_df = purchase_data.groupby("Gender")

purchase_count = round(price_gender_df["Purchase ID"].count(),0)
average_count = round(price_gender_df["Price"].mean(),2)
total_count = round(price_gender_df["Price"].sum(),2)
average_person = (total_count / gender_count_df["Gender"]).map("${:.2f}".format)
# print(purchase_count)
# print(average_count)
# print(total_count)
# print(average_person)

In [49]:
# creating DF results

purchase_count.name = "Purchase Count"
average_count.name = "Average Purchase Price"
total_count.name = "Total Purchase Value"
average_person.name = "Avg Total Purchase total Person"

results = pd.concat([
    purchase_count,
    average_count,
    total_count,
    average_person,
],axis=1)
results["Average Purchase Price"]=results["Average Purchase Price"].map("${:.2f}".format)
results["Total Purchase Value"]=results["Total Purchase Value"].map("${:.2f}".format)
results

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase total Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [13]:
# Age Demographics

bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

age_df = purchase_data
age_df["Age Summary"] = pd.cut(age_df["Age"], age_bins, labels=group_names)

age_df = age_df.groupby("Age Summary")
age_df.count()

results_age_df = pd.DataFrame(age_df.count())
results_age_df["Purchase ID"] = (results_age_df["Purchase ID"]/count2*100)

ValueError: operands could not be broadcast together with shapes (8,) (780,)